@use "styles/mixins.scss" as *;
@use "styles/fonts.scss" as *;

.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  
  &__input {
    display: none;
    svg {
      opacity: 0;
    }

    &:checked + .checkbox__custom {
      svg {
        opacity: 1;
      }
    }
  }
  
  &__custom {
    width: 40px;
    height: 40px;
    border: 3px solid var(--color-gray-soft);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    flex-shrink: 0;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--color-white);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }
  
  &__text {
    @include text-regular();

    font-weight: 500;
  }
}
