@use "styles/mixins.scss" as *;
@use "styles/fonts.scss" as *;

.auth-page {
  height: 100%;
  width: 100%;
  background-image: url("/common/zarya-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &__container {
    height: 100%;
  }

  &__inner {
    @include flex(start, center, column);

    height: 100%;
  }

  &__logo {
    max-width: 270px;
    max-height: 230px;
    width: 100%;
    margin-top: 82px;
    object-fit: contain;

    &--mini {
      max-width: 180px;
      max-height: 155px;
      margin-top: 17px;
    }

    &--regist {
      max-width: 72px;
      max-height: 72px;
    }
  }

  &__intro-btn {
    @include text-xl();

    height: 70px;
    max-width: 234px;
    margin-top: 46px;
    font-weight: 700;
  }

  &__auth-btns {
    @include flex(start, start, column, 12px);

    width: 100%;
    margin-top: 126px;
  }
}

.auth-btn {
  @include text-large();

  height: 70px;
  font-weight: 700;
}

.registration {
  width: 100%;
  max-width: 361px;
  background: var(--color-white);
  border-radius: 12px;
  padding: 21px;
  border-bottom: 3px solid var(--color-medium);

  &__title {
    @include text-big();

    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__input-wrapp {
    @include flex(start, start, column, 8px);
  }

  &__input {
    border: 2px solid #999;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: #999;
    }
  }

  &__checkbox-wrapper {
    @include flex(start, start, column, 8px);

    margin-top: 15px;
  }

  &__submit {
    display: block;
    max-width: 195px;
    margin: 22px auto 0;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
  }
}

.registration .registration__submit {
  border-radius: 6px;
}

.registration__checkbox .checkbox__text {
  @include text-medium();

  font-weight: 700;
}

.auth-link {
  text-decoration: underline;
  color: var(--color-orange);
}
