@use "styles/mixins.scss" as *;

.hero {
  @include flex(center, center);
  margin-top: 20px;

  &__img-wrapp {
    @include flex(center, center);
  }

  &__img {
    height: 55vh;
    object-fit: contain;

    &:active {
      transform: scale(0.97);
      filter: brightness(0.9);
    }
  }
}

.money-tap {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  pointer-events: none;
  opacity: 1;
  transition: transform 1.5s, opacity 1.5s ease-out;
  transform: translateY(-20px);

  img {
    width: 24px;
    height: 24px;
  }

  span {
    font-size: 14px;
    font-weight: 700;
  }
}

.money-tap.fade-out {
  transform: translateY(-80px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s ease-out;
}
