@use "styles/mixins.scss" as *;
@use "styles/fonts.scss" as *;

.navigation {
  @include flex(space-between, center);

  max-width: 500px;
  z-index: 1000;
  position: fixed;
  bottom: 10px;
  height: 77px;
  padding: 8px 20px;
  background-color: var(--color-white);
  border-radius: 12px;
  border-bottom: 3px solid var(--color-medium);
  width: 100%;
  bottom: 0;
  border-radius: 12px 12px 0 0;

  &__item {
    @include flex(start, center, column, 8px);

    height: 58px;
    max-width: 45px;
    width: 100%;
    text-align: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__item-label {
    @include text-small();

    color: var(--color-orange);
    line-height: 10px;
  }
}

.navigation__item--active .navigation__item-label {
  color: var(--color-red);
}

.navigation__item--active .navigation__icon rect:last-of-type {
  display: none; //Внутри иконок идет два изображения, отображающихся через rect. Через активный класс отключаем одно из них.
}
