@use "styles/mixins.scss" as *;
@use "styles/fonts.scss" as *;

.points {
  @include flex(space-between);
  margin-top: 7px;

  &__block {
    position: relative;
    height: 42px;
    width: 77px;
    border-radius: 0 27px 27px 0;
    background-color: var(--color-white);
    font-weight: 700;
    border-bottom: 3px solid var(--color-medium);
  }

  &__img {
    position: absolute;
    left: -27px;
    top: -7px;

    &--potion {
      top: -15px;
    }
  }

  &__inner {
    @include flex(space-between, center, row, 62px);
  }

  &__count {
    @include text-medium();
    @include flex(end, center);

    height: 100%;
    padding-right: 15px;
  }
}
