@use "styles/mixins.scss" as *;
@use "styles/fonts.scss" as *;

.points-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 7px;

  &__logo {
    width: 54px;
    height: 47px;
    justify-self: center;
  }

  &__points-wrapp {
    @include flex(center, center, row, 17px);
  }

  &__points-block {
    @include flex(center, center, column, 5px);
  }

  &__points-img {
    width: 26px;
    height: 26px;
    object-fit: contain;
  }

  &__points-count {
    @include text-tiny();

    font-weight: 600;
  }
}
