@use "styles/mixins.scss" as *;
@use "styles/fonts.scss" as *;

.tap-screen {
  height: 100%;
  &__container {
    padding-top: 25px;
  }

  &__hero {
    margin-top: 19px;
  }

  &__bottom-content {
    @include flex(space-between, center);

    margin-top: 5px;
  }

  &__energy-block {
    @include flex(start, center, row, 8px);
  }

  &__energy {
    @include flex(start, start, column, 2px);
  }

  &__title {
    @include text-tiny();
  }

  &__energy-count {
    @include text-smallest();

    font-weight: 700;
  }
}

.progress-bar {
  @include flex(flex-start, center);

  height: 58px;
  position: relative;
  margin-top: 11px;

  &__bar-icon {
    position: absolute;
    left: -5px;
  }

  &__progress {
    width: 100%;
    max-height: 48px;
  }

  &__points {
    @include text-tiny();

    font-weight: 600;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}

.tap-screen__hero img {
  transition: transform 0.1s ease, filter 0.1s ease;

  &:active {
    transform: scale(0.96);
    filter: brightness(0.9);
  }
}

.notice-block {
  width: calc(100% - 32px);
  padding: 0 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 21px;
  z-index: 1000;
  border-radius: 12px;
  background-color: var(--color-white);


  &__title {
    @include text-large();

    font-weight: 700;
    margin-bottom: 16px;
  }

  &__inner {
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
  }

  &__btn {
    @include text-regular();

    max-width: 195px;
    width: 100%;
    border-radius: 6px;
    font-weight: 700;

    &--white {
      border: 1px solid var(--color-black);
      margin-top: 12px;
      color: var(--color-black)
    }
  }
}
